body {
    font-family: sans-serif;
}


#container {
    border: 3px solid green;
    background-color: lightgreen;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    width: 600px;
    flex-direction: column;
    flex-wrap: wrap;
}

.rectangle {
    border: 3px solid blue;
    background-color: lightblue;
    flex: 1;
    height: 56px;
    display: flex;
    padding: 10px;
    margin: 8px 0;
}


.smaller-rectangle {
    flex: 1;
    border: 3px solid orange;
    background-color: rgb(255, 213, 134);
    margin: 0 10px;
    width: 150px;
    height: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smallest-rectangle {
    /* display: inline-block; */
    flex: 1;
    border: 3px solid red;
    background-color: rgb(255, 110, 110);
    margin: 0 2px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#square-container {
    display: flex;
    /* flex-direction: column; */
}


#square {
    border: 3px solid pink;
    background-color: rgb(247, 232, 234);
    height: 130px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#smaller-square-container {
    margin-left: 10px;
    width: 50%;
}


.smaller-square {
    border: 3px solid pink;
    height: 40%;
    background-color: rgb(247, 232, 234);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-margin {
    margin-bottom: 14px;
}

.mid-rectangle {
    border: 3px solid purple;
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mid-square {
    border: 3px solid orange;
    background-color: rgb(255, 213, 134);
    margin: 0 10px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}