div {
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
    --fds-black: black;
    --fds-black-alpha-05: rgba(0, 0, 0, 0.05);
    --fds-black-alpha-10: rgba(0, 0, 0, 0.1);
    --fds-black-alpha-15: rgba(0, 0, 0, 0.15);
    --fds-black-alpha-20: rgba(0, 0, 0, 0.2);
    --fds-black-alpha-30: rgba(0, 0, 0, 0.3);
    --fds-black-alpha-40: rgba(0, 0, 0, 0.4);
    --fds-black-alpha-50: rgba(0, 0, 0, 0.5);
    --fds-black-alpha-60: rgba(0, 0, 0, 0.6);
    --fds-black-alpha-80: rgba(0, 0, 0, 0.8);
    --fds-blue-05: black;
    --fds-blue-30: black;
    --fds-blue-40: black;
    --fds-blue-60: black;
    --fds-blue-70: black;
    --fds-blue-80: black;
    --fds-comment-background: black;
    --fds-dark-mode-gray-35: black;
    --fds-dark-mode-gray-50: black;
    --fds-gray-00: black;
    --fds-gray-05: black;
    --fds-gray-10: black;
    --fds-gray-20: black;
    --fds-gray-25: black;
    --fds-gray-30: black;
    --fds-gray-45: black;
    --fds-gray-70: black;
    --fds-gray-80: black;
    --fds-green-55: black;
    --fds-highlight: black;
    --fds-primary-icon: white;
    --fds-primary-text: white;
    --fds-spectrum-lemon-dark-1: black;
    --fds-spectrum-lemon-tint-70: black;
    --fds-spectrum-lime-tint-70: black;
    --fds-spectrum-slate-dark-2: black;
    --fds-spectrum-slate-tint-70: black;
    --fds-spectrum-teal: black;
    --fds-spectrum-teal-dark-1: black;
    --fds-spectrum-teal-dark-2: black;
    --fds-spectrum-teal-tint-70: black;
    --fds-spectrum-teal-tint-90: black;
    --fds-spectrum-tomato: black;
    --fds-spectrum-tomato-tint-30: black;
    --fds-white: black;
    --fds-white-alpha-05: rgba(255, 255, 255, 0.05);
    --fds-white-alpha-10: rgba(255, 255, 255, 0.1);
    --fds-white-alpha-20: rgba(255, 255, 255, 0.2);
    --fds-white-alpha-30: rgba(255, 255, 255, 0.3);
    --fds-white-alpha-40: rgba(255, 255, 255, 0.4);
    --fds-white-alpha-50: rgba(255, 255, 255, 0.5);
    --fds-white-alpha-60: rgba(255, 255, 255, 0.6);
    --fds-yellow-20: black;
    --accent: hsl(214, 100%, 59%);
    --always-white: white;
    --always-black: black;
    --always-dark-gradient: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
    --always-dark-overlay: rgba(0, 0, 0, 0.4);
    --always-light-overlay: rgba(255, 255, 255, 0.4);
    --always-gray-40: #65676B;
    --always-gray-75: #BCC0C4;
    --always-gray-95: #F0F2F5;
    --attachment-footer-background: rgba(255,255,255,0.1);
    --background-deemphasized: rgba(255,255,255,0.1);
    --base-blue: #1877F2;
    --base-cherry: #F3425F;
    --base-grape: #9360F7;
    --base-lemon: #F7B928;
    --base-lime: #45BD62;
    --base-pink: #FF66BF;
    --base-seafoam: #54C7EC;
    --base-teal: #2ABBA7;
    --base-tomato: #FB724B;
    --blue-link: #4599FF;
    --card-background: #242526;
    --card-background-flat: #323436;
    --comment-background: #3A3B3C;
    --comment-footer-background: #4E4F50;
    --dataviz-primary-1: rgb(48,200,180);
    --disabled-button-background: rgba(255, 255, 255, 0.2);
    --disabled-button-text: rgba(255, 255, 255, 0.3);
    --disabled-icon: rgba(255, 255, 255, 0.3);
    --disabled-text: rgba(255, 255, 255, 0.3);
    --divider: #3E4042;
    --event-date: #F3425F;
    --glimmer-spinner-icon: white;
    --hero-banner-background: #E85D07;
    --hosted-view-selected-state: rgba(45, 136, 255, 0.1);
    --highlight-bg: rgba(24, 119, 242, .31);
    --hover-overlay: rgba(255, 255, 255, 0.1);
    --media-hover: rgba(68, 73, 80, 0.15);
    --media-inner-border: rgba(255, 255, 255, 0.05);
    --media-outer-border: #33363A;
    --media-pressed: rgba(68, 73, 80, 0.35);
    --messenger-card-background: #242526;
    --messenger-reply-background: #18191A;
    --overlay-alpha-80: rgba(11, 11, 11, 0.8);
    --overlay-on-media: rgba(0, 0, 0, 0.6);
    --nav-bar-background: #242526;
    --nav-bar-background-gradient: linear-gradient(to top, #242526, rgba(36,37,38,.9), rgba(36,37,38,.7), rgba(36,37,38,.4), rgba(36,37,38,0));
    --nav-bar-background-gradient-wash: linear-gradient(to top, #18191A, rgba(24,25,26,.9), rgba(24,25,26,.7), rgba(24,25,26,.4), rgba(24,25,26,0));
    --negative: hsl(350, 87%, 55%);
    --negative-background: hsl(350, 87%, 55%, 20%);
    --new-notification-background: #E7F3FF;
    --non-media-pressed: rgba(68, 73, 80, 0.15);
    --non-media-pressed-on-dark: rgba(255, 255, 255, 0.3);
    --notification-badge: #F02849;
    --placeholder-icon: #8A8D91;
    --placeholder-text: #8A8D91;
    --placeholder-text-on-media: rgba(255, 255, 255, 0.5);
    --popover-background: #3E4042;
    --positive: #31A24C;
    --positive-background: #1F3520;
    --press-overlay: rgba(255, 255, 255, 0.1);
    --primary-button-background: #2D88FF;
    --primary-button-background-experiment: #2374E1;
    --primary-button-pressed: #77A7FF;
    --primary-button-text: #FFFFFF;
    --primary-deemphasized-button-background: rgba(45, 136, 255, 0.2);
    --primary-deemphasized-button-pressed: rgba(24, 119, 242, 0.2);
    --primary-deemphasized-button-pressed-overlay: rgba(25, 110, 255, 0.15);
    --primary-deemphasized-button-text: #2D88FF;
    --primary-icon: #E4E6EB;
    --primary-text: #E4E6EB;
    --primary-text-on-media: white;
    --progress-ring-neutral-background: rgba(255, 255, 255, 0.2);
    --progress-ring-neutral-foreground: #ffffff;
    --progress-ring-on-media-background: rgba(255, 255, 255, 0.2);
    --progress-ring-blue-background: rgba(45, 136, 255, 0.2);
    --progress-ring-blue-foreground: hsl(214, 100%, 59%);
    --progress-ring-disabled-background: rgba(122,125,130, 0.2);
    --progress-ring-disabled-foreground: #7A7D82;
    --scroll-thumb: rgba(255, 255, 255, 0.3);
    --scroll-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px rgba(255, 255, 255, 0.05) inset;
    --secondary-button-background: rgba(255,255,255,.1);
    --secondary-button-background-floating: #4B4C4F;
    --secondary-button-background-on-dark: rgba(255, 255, 255, 0.4);
    --secondary-button-pressed: rgba(0, 0, 0, 0.05);
    --secondary-button-stroke: transparent;
    --secondary-button-text: #E4E6EB;
    --secondary-icon: #B0B3B8;
    --secondary-text: #B0B3B8;
    --secondary-text-on-media: rgba(255, 255, 255, 0.9);
    --section-header-text: #BCC0C4;
    --shadow-1: rgba(0, 0, 0, 0.1);
    --shadow-2: rgba(0, 0, 0, 0.2);
    --shadow-5: rgba(0, 0, 0, 0.5);
    --shadow-8: rgba(0, 0, 0, 0.8);
    --shadow-inset: rgba(255, 255, 255, 0.05);
    --surface-background: #242526;
    --text-highlight: rgba(24, 119, 242, 0.45);
    --toggle-active-background: rgb(45, 136, 255);
    --toggle-active-text: #FFFFFF;
    --toggle-button-active-background: #E6F2FF;
    --wash: #3E4042;
    --web-wash: #18191A;
    --warning: hsl(40, 89%, 52%);
    --fb-logo-color: #2D88FF;
    --button-corner-radius: 6px;
    --card-corner-radius: 8px;
    --dataviz-primary-2: rgb(134,218,255);
    --dataviz-primary-3: rgb(95,170,255);
    --dataviz-secondary-1: rgb(129,77,231);
    --dataviz-secondary-2: rgb(168,124,255);
    --dataviz-secondary-3: rgb(219,26,139);
    --dataviz-supplementary-1: rgb(255,122,105);
    --dataviz-supplementary-2: rgb(241,168,23);
    --darkreader-bg--fds-black: #000000;
    --darkreader-border--fds-black: #8c8273;
    --darkreader-bg--fds-black-alpha-05: rgba(0, 0, 0, 0.05);
    --darkreader-bg--fds-black-alpha-10: rgba(0, 0, 0, 0.1);
    --darkreader-border--fds-black-alpha-10: rgba(140, 130, 115, 0.1);
    --darkreader-bg--fds-black-alpha-15: rgba(0, 0, 0, 0.15);
    --darkreader-bg--fds-black-alpha-20: rgba(0, 0, 0, 0.2);
    --darkreader-bg--fds-black-alpha-30: rgba(0, 0, 0, 0.3);
    --darkreader-bg--fds-black-alpha-40: rgba(0, 0, 0, 0.4);
    --darkreader-text--fds-black-alpha-40: rgba(232, 230, 227, 0.4);
    --darkreader-bg--fds-black-alpha-50: rgba(0, 0, 0, 0.5);
    --darkreader-bg--fds-black-alpha-60: rgba(0, 0, 0, 0.6);
    --darkreader-bg--fds-black-alpha-80: rgba(0, 0, 0, 0.8);
    --darkreader-bg--fds-blue-05: #000000;
    --darkreader-bg--fds-blue-30: #000000;
    --darkreader-bg--fds-blue-40: #000000;
    --darkreader-bg--fds-blue-60: #000000;
    --darkreader-text--fds-blue-60: #e8e6e3;
    --darkreader-border--fds-blue-60: #8c8273;
    --darkreader-bg--fds-blue-70: #000000;
    --darkreader-border--fds-blue-70: #8c8273;
    --darkreader-bg--fds-blue-80: #000000;
    --darkreader-border--fds-blue-80: #8c8273;
    --fds-button-text: black;
    --darkreader-bg--fds-comment-background: #000000;
    --darkreader-bg--fds-dark-mode-gray-35: #000000;
    --darkreader-border--fds-dark-mode-gray-50: #8c8273;
    --fds-dark-mode-gray-70: black;
    --fds-dark-mode-gray-80: black;
    --fds-dark-mode-gray-90: black;
    --fds-dark-mode-gray-100: black;
    --darkreader-bg--fds-gray-00: #000000;
    --darkreader-border--fds-gray-00: #8c8273;
    --darkreader-bg--fds-gray-05: #000000;
    --darkreader-bg--fds-gray-10: #000000;
    --darkreader-border--fds-gray-10: #8c8273;
    --darkreader-bg--fds-gray-20: #000000;
    --darkreader-border--fds-gray-20: #8c8273;
    --darkreader-bg--fds-gray-25: #000000;
    --darkreader-border--fds-gray-25: #8c8273;
    --darkreader-border--fds-gray-30: #8c8273;
    --darkreader-bg--fds-gray-45: #000000;
    --darkreader-text--fds-gray-45: #e8e6e3;
    --darkreader-bg--fds-gray-70: #000000;
    --darkreader-border--fds-gray-80: #8c8273;
    --fds-gray-90: black;
    --fds-gray-100: black;
    --darkreader-border--fds-green-55: #8c8273;
    --darkreader-bg--fds-highlight: #000000;
    --darkreader-text--fds-highlight: #e8e6e3;
    --fds-highlight-cell-background: black;
    --darkreader-bg--fds-primary-icon: #181a1b;
    --darkreader-bg--fds-primary-text: #181a1b;
    --darkreader-text--fds-primary-text: #e8e6e3;
    --fds-red-55: black;
    --fds-soft: cubic-bezier(0.08,0.52,0.52,1);
    --fds-spectrum-aluminum-tint-70: black;
    --fds-spectrum-blue-gray-tint-70: black;
    --fds-spectrum-cherry: black;
    --fds-spectrum-cherry-tint-70: black;
    --fds-spectrum-grape-tint-70: black;
    --fds-spectrum-grape-tint-90: black;
    --darkreader-bg--fds-spectrum-lemon-dark-1: #000000;
    --darkreader-bg--fds-spectrum-lemon-tint-70: #000000;
    --fds-spectrum-lime: black;
    --darkreader-bg--fds-spectrum-lime-tint-70: #000000;
    --fds-spectrum-orange-tint-70: black;
    --fds-spectrum-orange-tint-90: black;
    --fds-spectrum-seafoam-tint-70: black;
    --darkreader-border--fds-spectrum-slate-dark-2: #8c8273;
    --darkreader-bg--fds-spectrum-slate-tint-70: #000000;
    --darkreader-bg--fds-spectrum-teal: #000000;
    --darkreader-bg--fds-spectrum-teal-dark-1: #000000;
    --darkreader-border--fds-spectrum-teal-dark-1: #8c8273;
    --darkreader-bg--fds-spectrum-teal-dark-2: #000000;
    --darkreader-bg--fds-spectrum-teal-tint-70: #000000;
    --darkreader-bg--fds-spectrum-teal-tint-90: #000000;
    --darkreader-border--fds-spectrum-tomato: #8c8273;
    --darkreader-bg--fds-spectrum-tomato-tint-30: #000000;
    --fds-spectrum-tomato-tint-90: black;
    --fds-strong: cubic-bezier(0.12,0.8,0.32,1);
    --darkreader-bg--fds-white: #000000;
    --darkreader-text--fds-white: #e8e6e3;
    --darkreader-border--fds-white: #8c8273;
    --darkreader-bg--fds-white-alpha-05: rgba(24, 26, 27, 0.05);
    --darkreader-bg--fds-white-alpha-10: rgba(24, 26, 27, 0.1);
    --darkreader-bg--fds-white-alpha-20: rgba(24, 26, 27, 0.2);
    --darkreader-bg--fds-white-alpha-30: rgba(24, 26, 27, 0.3);
    --darkreader-bg--fds-white-alpha-40: rgba(24, 26, 27, 0.4);
    --darkreader-bg--fds-white-alpha-50: rgba(24, 26, 27, 0.5);
    --darkreader-bg--fds-white-alpha-60: rgba(24, 26, 27, 0.6);
    --fds-white-alpha-80: rgba(255, 255, 255, 0.8);
    --darkreader-border--fds-yellow-20: #8c8273;
    --darkreader-bg--accent: #004db0;
    --darkreader-text--accent: #3aa2ff;
    --darkreader-border--accent: #0048a5;
    --darkreader-bg--always-white: #181a1b;
    --darkreader-text--always-white: #e8e6e3;
    --darkreader-border--always-white: #303436;
    --darkreader-bg--always-black: #000000;
    --darkreader-text--always-black: #e8e6e3;
    --darkreader-border--always-black: #8c8273;
    --darkreader-bg--always-dark-gradient: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
    --darkreader-bgimg--always-dark-gradient: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    --darkreader-bg--always-dark-overlay: rgba(0, 0, 0, 0.4);
    --darkreader-text--always-dark-overlay: rgba(232, 230, 227, 0.4);
    --darkreader-border--always-dark-overlay: rgba(140, 130, 115, 0.4);
    --darkreader-bg--always-light-overlay: rgba(24, 26, 27, 0.4);
    --darkreader-border--always-light-overlay: rgba(48, 52, 54, 0.4);
    --darkreader-bg--always-gray-40: #4e5558;
    --darkreader-text--always-gray-40: #a69f93;
    --darkreader-border--always-gray-40: #6a6257;
    --darkreader-bg--always-gray-75: #3c4143;
    --darkreader-text--always-gray-75: #c0bbb3;
    --darkreader-border--always-gray-75: #42474a;
    --darkreader-bg--always-gray-95: #1f2223;
    --darkreader-border--always-gray-95: #34383a;
    --darkreader-bg--attachment-footer-background: rgba(24, 26, 27, 0.1);
    --darkreader-text--attachment-footer-background: rgba(232, 230, 227, 0.1);
    --darkreader-bg--background-deemphasized: rgba(24, 26, 27, 0.1);
    --darkreader-bg--base-blue: #0b57bb;
    --darkreader-text--base-blue: #2d96f3;
    --darkreader-border--base-blue: #094ea6;
    --darkreader-bg--base-cherry: #a10a23;
    --darkreader-text--base-cherry: #f44b66;
    --darkreader-border--base-cherry: #990a21;
    --darkreader-bg--base-grape: #350790;
    --darkreader-text--base-grape: #925ff7;
    --darkreader-border--base-grape: #360791;
    --darkreader-bg--base-lemon: #b27f07;
    --darkreader-text--base-lemon: #f8be37;
    --darkreader-border--base-lemon: #a37406;
    --darkreader-bg--base-lime: #35955e;
    --darkreader-text--base-lime: #57c371;
    --darkreader-border--base-lime: #2f8343;
    --darkreader-bg--base-pink: #8f0053;
    --darkreader-bg--base-seafoam: #107495;
    --darkreader-bg--base-teal: #229686;
    --darkreader-border--base-teal: #229888;
    --darkreader-bg--base-tomato: #9e2604;
    --darkreader-text--base-tomato: #fb754f;
    --darkreader-bg--blue-link: #0049a3;
    --darkreader-text--blue-link: #4aabff;
    --darkreader-border--blue-link: #00479e;
    --darkreader-bg--card-background: #1c1e1f;
    --darkreader-text--card-background: #d1cdc7;
    --darkreader-border--card-background: #807769;
    --darkreader-bg--card-background-flat: #272a2c;
    --darkreader-bg--comment-background: #2c3032;
    --darkreader-border--comment-background: #797063;
    --darkreader-bg--comment-footer-background: #3b4043;
    --darkreader-bg--dataviz-primary-1: #26a090;
    --darkreader-bg--disabled-button-background: rgba(24, 26, 27, 0.2);
    --darkreader-border--disabled-button-background: rgba(48, 52, 54, 0.2);
    --darkreader-text--disabled-button-text: rgba(232, 230, 227, 0.3);
    --darkreader-border--disabled-button-text: rgba(48, 52, 54, 0.3);
    --darkreader-bg--disabled-icon: rgba(24, 26, 27, 0.3);
    --darkreader-text--disabled-icon: rgba(232, 230, 227, 0.3);
    --darkreader-border--disabled-icon: rgba(48, 52, 54, 0.3);
    --darkreader-bg--disabled-text: rgba(24, 26, 27, 0.3);
    --darkreader-text--disabled-text: rgba(232, 230, 227, 0.3);
    --darkreader-border--disabled-text: rgba(48, 52, 54, 0.3);
    --darkreader-bg--divider: #303436;
    --darkreader-text--divider: #c0bab2;
    --darkreader-border--divider: #776e62;
    --darkreader-bg--event-date: #a10a23;
    --darkreader-text--event-date: #f44b66;
    --filter-accent: invert(40%) sepia(52%) saturate(200%) saturate(200%) saturate(200%) saturate(189%) hue-rotate(191deg) brightness(103%) contrast(102%);
    --filter-always-white: invert(100%);
    --darkreader-border--filter-positive: invert(37%) sepia(61%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(115%) hue-rotate(91deg) brightness(97%) contrast(105%);
    --darkreader-bg--glimmer-spinner-icon: #181a1b;
    --darkreader-bg--hero-banner-background: #ba4a06;
    --darkreader-bg--hosted-view-selected-state: rgba(0, 77, 177, 0.1);
    --darkreader-border--hosted-view-selected-state: rgba(0, 71, 165, 0.1);
    --darkreader-bg--highlight-bg: rgba(11, 87, 187, 0.31);
    --darkreader-border--highlight-bg: rgba(9, 78, 166, 0.31);
    --darkreader-bg--hover-overlay: rgba(24, 26, 27, 0.1);
    --darkreader-text--hover-overlay: rgba(232, 230, 227, 0.1);
    --darkreader-border--hover-overlay: rgba(48, 52, 54, 0.1);
    --darkreader-bg--media-hover: rgba(56, 60, 63, 0.15);
    --darkreader-bg--media-inner-border: rgba(24, 26, 27, 0.05);
    --darkreader-text--media-inner-border: rgba(232, 230, 227, 0.05);
    --darkreader-border--media-inner-border: rgba(48, 52, 54, 0.05);
    --darkreader-bg--media-outer-border: #292c2e;
    --darkreader-border--media-outer-border: #7a7164;
    --darkreader-bg--media-pressed: rgba(56, 60, 63, 0.35);
    --darkreader-border--media-pressed: rgba(116, 107, 95, 0.35);
    --darkreader-bg--messenger-card-background: #1c1e1f;
    --darkreader-border--messenger-card-background: #807769;
    --darkreader-bg--messenger-reply-background: #131415;
    --darkreader-bg--overlay-alpha-80: rgba(8, 9, 9, 0.8);
    --darkreader-text--overlay-alpha-80: rgba(225, 222, 219, 0.8);
    --darkreader-border--overlay-alpha-80: rgba(136, 127, 112, 0.8);
    --darkreader-bg--overlay-on-media: rgba(0, 0, 0, 0.6);
    --darkreader-text--overlay-on-media: rgba(232, 230, 227, 0.6);
    --darkreader-bg--nav-bar-background: #1c1e1f;
    --darkreader-bgimg--nav-bar-background-gradient: linear-gradient(to top, #1c1e1f, rgba(28, 30, 31, 0.9), rgba(28, 30, 31, 0.7), rgba(28, 30, 31, 0.4), rgba(28, 30, 31, 0));
    --darkreader-bgimg--nav-bar-background-gradient-wash: linear-gradient(to top, #131415, rgba(19, 20, 21, 0.9), rgba(19, 20, 21, 0.7), rgba(19, 20, 21, 0.4), rgba(19, 20, 21, 0));
    --darkreader-bg--negative: #b10c28;
    --darkreader-text--negative: #f13958;
    --darkreader-border--negative: #a00b24;
    --darkreader-bg--negative-background: rgba(177, 12, 40, 0.2);
    --darkreader-bg--new-notification-background: #1f2123;
    --darkreader-bg--non-media-pressed: rgba(56, 60, 63, 0.15);
    --darkreader-border--non-media-pressed: rgba(116, 107, 95, 0.15);
    --darkreader-bg--non-media-pressed-on-dark: rgba(24, 26, 27, 0.3);
    --darkreader-border--non-media-pressed-on-dark: rgba(48, 52, 54, 0.3);
    --darkreader-bg--notification-badge: #b10c27;
    --darkreader-text--notification-badge: #f13957;
    --darkreader-border--notification-badge: #a00b24;
    --darkreader-bg--placeholder-icon: #585f63;
    --darkreader-text--placeholder-icon: #a0988c;
    --darkreader-border--placeholder-icon: #50575a;
    --darkreader-bg--placeholder-text: #585f63;
    --darkreader-text--placeholder-text: #a0988c;
    --darkreader-border--placeholder-text: #50575a;
    --darkreader-bg--placeholder-text-on-media: rgba(24, 26, 27, 0.5);
    --darkreader-text--placeholder-text-on-media: rgba(232, 230, 227, 0.5);
    --darkreader-border--placeholder-text-on-media: rgba(48, 52, 54, 0.5);
    --darkreader-bg--popover-background: #303436;
    --darkreader-border--popover-background: #776e62;
    --darkreader-bg--positive: #27823d;
    --darkreader-text--positive: #66d180;
    --darkreader-border--positive: #2d9345;
    --darkreader-bg--positive-background: #192a1a;
    --darkreader-border--positive-background: #7e7568;
    --darkreader-bg--press-overlay: rgba(24, 26, 27, 0.1);
    --darkreader-bg--primary-button-background: #004db1;
    --darkreader-text--primary-button-background: #39a1ff;
    --darkreader-border--primary-button-background: #0047a5;
    --darkreader-bg--primary-button-background-experiment: #1859b1;
    --darkreader-bg--primary-button-pressed: #002f85;
    --darkreader-border--primary-button-pressed: #00328f;
    --darkreader-bg--primary-button-text: #181a1b;
    --darkreader-text--primary-button-text: #e8e6e3;
    --darkreader-bg--primary-deemphasized-button-background: rgba(0, 77, 177, 0.2);
    --darkreader-border--primary-deemphasized-button-background: rgba(0, 71, 165, 0.2);
    --darkreader-bg--primary-deemphasized-button-pressed: rgba(11, 87, 187, 0.2);
    --darkreader-bg--primary-deemphasized-button-pressed-overlay: rgba(0, 70, 189, 0.15);
    --darkreader-text--primary-deemphasized-button-text: #39a1ff;
    --darkreader-border--primary-deemphasized-button-text: #0047a5;
    --darkreader-bg--primary-icon: #25282a;
    --darkreader-text--primary-icon: #d9d6d1;
    --darkreader-border--primary-icon: #373b3d;
    --darkreader-bg--primary-text: #25282a;
    --darkreader-text--primary-text: #d9d6d1;
    --darkreader-border--primary-text: #373b3d;
    --darkreader-text--primary-text-on-media: #e8e6e3;
    --darkreader-border--primary-text-on-media: #303436;
    --primary-web-focus-indicator: #D24294;
    --darkreader-bg--progress-ring-neutral-background: rgba(24, 26, 27, 0.2);
    --darkreader-bg--progress-ring-neutral-foreground: #181a1b;
    --darkreader-border--progress-ring-neutral-foreground: #303436;
    --darkreader-bg--progress-ring-on-media-background: rgba(24, 26, 27, 0.2);
    --progress-ring-on-media-foreground: #FFFFFF;
    --darkreader-bg--progress-ring-blue-background: rgba(0, 77, 177, 0.2);
    --darkreader-bg--progress-ring-blue-foreground: #004db0;
    --darkreader-border--progress-ring-disabled-background: rgba(98, 91, 81, 0.2);
    --darkreader-bg--progress-ring-disabled-foreground: #5f676b;
    --darkreader-text--progress-ring-disabled-foreground: #989082;
    --rating-star-active: #FF9831;
    --darkreader-bg--scroll-thumb: rgba(24, 26, 27, 0.3);
    --darkreader-bg--scroll-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px rgba(255, 255, 255, 0.05) inset;
    --darkreader-bg--secondary-button-background: rgba(24, 26, 27, 0.1);
    --darkreader-border--secondary-button-background: rgba(48, 52, 54, 0.1);
    --darkreader-bg--secondary-button-background-floating: #3a3f41;
    --darkreader-border--secondary-button-background-floating: #736a5e;
    --darkreader-bg--secondary-button-background-on-dark: rgba(24, 26, 27, 0.4);
    --darkreader-bg--secondary-button-pressed: rgba(0, 0, 0, 0.05);
    --darkreader-border--secondary-button-pressed: rgba(140, 130, 115, 0.05);
    --darkreader-border--secondary-button-stroke: rgba(140, 130, 115, 0);
    --darkreader-text--secondary-button-text: #d9d6d1;
    --darkreader-bg--secondary-icon: #42484b;
    --darkreader-text--secondary-icon: #b9b3a9;
    --darkreader-border--secondary-icon: #454b4e;
    --darkreader-bg--secondary-text: #42484b;
    --darkreader-text--secondary-text: #b9b3a9;
    --darkreader-border--secondary-text: #454b4e;
    --darkreader-bg--secondary-text-on-media: rgba(24, 26, 27, 0.9);
    --darkreader-text--secondary-text-on-media: rgba(232, 230, 227, 0.9);
    --darkreader-border--secondary-text-on-media: rgba(48, 52, 54, 0.9);
    --darkreader-bg--section-header-text: #3c4143;
    --darkreader-text--section-header-text: #c0bbb3;
    --darkreader-border--section-header-text: #42474a;
    --darkreader-bg--shadow-1: rgba(0, 0, 0, 0.1);
    --darkreader-border--shadow-1: rgba(140, 130, 115, 0.1);
    --darkreader-bg--shadow-2: rgba(0, 0, 0, 0.2);
    --darkreader-border--shadow-2: rgba(140, 130, 115, 0.2);
    --darkreader-bg--shadow-5: rgba(0, 0, 0, 0.5);
    --darkreader-bg--shadow-8: rgba(0, 0, 0, 0.8);
    --darkreader-border--shadow-8: rgba(140, 130, 115, 0.8);
    --darkreader-bg--shadow-inset: rgba(24, 26, 27, 0.05);
    --darkreader-border--shadow-inset: rgba(48, 52, 54, 0.05);
    --darkreader-bg--surface-background: #1c1e1f;
    --darkreader-text--surface-background: #d1cdc7;
    --darkreader-border--surface-background: #807769;
    --darkreader-bg--text-highlight: rgba(11, 87, 187, 0.45);
    --darkreader-border--text-highlight: rgba(9, 78, 166, 0.45);
    --darkreader-bg--toggle-active-background: #004db1;
    --toggle-active-icon: #FFFFFF;
    --darkreader-text--toggle-active-text: #e8e6e3;
    --darkreader-bg--toggle-button-active-background: #1f2223;
    --darkreader-bg--wash: #303436;
    --darkreader-border--wash: #776e62;
    --darkreader-bg--web-wash: #131415;
    --darkreader-text--web-wash: #d8d5d0;
    --darkreader-border--web-wash: #847a6c;
    --darkreader-bg--warning: #bb800b;
    --darkreader-text--warning: #f3b12d;
    --darkreader-border--warning: #a67109;
    --darkreader-bg--fb-logo-color: #004db1;
    --dialog-anchor-vertical-padding: 56px;
    --header-height: 56px;
    --global-panel-width: 68px;
    --darkreader-border--button-corner-radius: 6px;
    --darkreader-border--card-corner-radius: 8px;
    --fds-animation-enter-exit-in: cubic-bezier(0.14, 1, 0.34, 1);
    --fds-animation-enter-exit-out: cubic-bezier(0.45, 0.1, 0.2, 1);
    --fds-animation-swap-shuffle-in: cubic-bezier(0.14, 1, 0.34, 1);
    --fds-animation-swap-shuffle-out: cubic-bezier(0.45, 0.1, 0.2, 1);
    --fds-animation-move-in: cubic-bezier(0.17, 0.17, 0, 1);
    --fds-animation-move-out: cubic-bezier(0.17, 0.17, 0, 1);
    --fds-animation-expand-collapse-in: cubic-bezier(0.17, 0.17, 0, 1);
    --fds-animation-expand-collapse-out: cubic-bezier(0.17, 0.17, 0, 1);
    --fds-animation-passive-move-in: cubic-bezier(0.5, 0, 0.1, 1);
    --fds-animation-passive-move-out: cubic-bezier(0.5, 0, 0.1, 1);
    --fds-animation-quick-move-in: cubic-bezier(0.1, 0.9, 0.2, 1);
    --fds-animation-quick-move-out: cubic-bezier(0.1, 0.9, 0.2, 1);
    --fds-animation-fade-in: cubic-bezier(0, 0, 1, 1);
    --fds-animation-fade-out: cubic-bezier(0, 0, 1, 1);
    --fds-duration-extra-extra-short-in: 100ms;
    --fds-duration-extra-extra-short-out: 100ms;
    --fds-duration-extra-short-in: 200ms;
    --fds-duration-extra-short-out: 150ms;
    --fds-duration-short-in: 280ms;
    --fds-duration-short-out: 200ms;
    --fds-duration-medium-in: 400ms;
    --fds-duration-medium-out: 350ms;
    --fds-duration-long-in: 500ms;
    --fds-duration-long-out: 350ms;
    --fds-duration-extra-long-in: 1000ms;
    --fds-duration-extra-long-out: 1000ms;
    --fds-duration-none: 0ms;
    --fds-fast: 200ms;
    --fds-slow: 400ms;
    --font-family-apple: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
    --font-family-code: ui-monospace, Menlo, Consolas, Monaco, monospace;
    --font-family-default: Helvetica, Arial, sans-serif;
    --font-family-segoe: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    --darkreader-bg--dataviz-primary-2: #00567c;
    --darkreader-bg--dataviz-primary-3: #004593;
    --darkreader-border--dataviz-primary-3: #004696;
    --darkreader-border--dataviz-secondary-1: #3d138f;
    --darkreader-bg--dataviz-secondary-2: #2c0082;
    --darkreader-bg--dataviz-secondary-3: #af156f;
    --darkreader-bg--dataviz-supplementary-1: #8d1000;
    --darkreader-text--dataviz-supplementary-1: #ff7563;
    --darkreader-bg--dataviz-supplementary-2: #bb800b;
    --darkreader-text--dataviz-supplementary-2: #f2b02d;
    --dataviz-supplementary-3: rgb(49,162,76);
    --dataviz-supplementary-4: rgb(228,230,235);
    --filter-disabled-icon: invert(100%) opacity(30%) !important;
    --filter-placeholder-icon: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%) !important;
    --filter-primary-icon: invert(100%) !important;
    --filter-secondary-icon: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg) brightness(90%) contrast(96%) !important;
    --filter-warning-icon: invert(77%) sepia(29%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(128%) hue-rotate(359deg) brightness(102%) contrast(107%) !important;
    --filter-blue-link-icon: invert(73%) sepia(29%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(103.25%) hue-rotate(189deg) brightness(101%) contrast(101%) !important;
    --filter-positive: invert(37%) sepia(61%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(115%) hue-rotate(91deg) brightness(97%) contrast(105%) !important;
    --filter-negative: invert(25%) sepia(33%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(110%) hue-rotate(345deg) brightness(132%) contrast(96%) !important;
    direction: ltr;
    line-height: 1.34;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    color: rgb(127, 166, 208);
    list-style: none;
    -webkit-user-select: none;
    text-align: inherit;
    cursor: pointer;
    list-style-image: initial;
    -webkit-tap-highlight-color: transparent;
    font-family: inherit;
    fill: url("#jsc_s_2");
    height: 40;
    width: 40;
    display: block;
    transition-timing-function: var(--fds-soft);
    transition-property: fill,stroke;
    transition-duration: var(--fds-fast);
}